redis
pandas
Pillow
matplotlib
seaborn
apscheduler
aiogram
dotenv
aiosqlite
annotated-types
anyio
attrs
Automat
Babel
bcrypt
beautifulsoup4
blinker
certifi
chardet
click
colorama
ConfigArgParse
configobj
constantly
cryptography
deep-translator
Deprecated
distro
dotenv
exceptiongroup
Flask
gunicorn
h11
httpcore
httplib2
httpx
hyperlink
idna
importlib-metadata
incremental
itsdangerous
jeepney
Jinja2
josepy
jsonpatch
jsonpointer
jsonschema
keyring
MarkupSafe
more-itertools
netaddr
# netifaces
oauthlib
packaging
parsedatetime
pexpect
ptyprocess
pyasn1
pyasn1-modules
pydantic
pydantic_core
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyRFC3339
pyrsistent
pyserial
python-debian
python-dotenv
python-magic
python-telegram-bot
pytz
PyYAML
replicate
requests
requests-toolbelt
ruamel.yaml
ruamel.yaml.clib
SecretStorage
service-identity
simplejson
six
sniffio
soupsieve
supervisor
telegram
tenacity
transliterate
Twisted
typing-inspection
typing_extensions
urllib3
Werkzeug
wrapt
yookassa
zipp
zope.component
zope.event
zope.hookable
zope.interface
